<div class="sidebar">
    <div class="sidebar-section">
        <h5><span>Contact</span></h5>
        <h6><span>Media Inquires:</span></h6>
        <a href="{{site.baseurl}}/{{'contact/'}}"><img src="{{site.baseurl}}/assets/images/email.png"></a>        
        <!-- <h6><span>Academic Communication:</span></h6>
        <a href="https://www.amazon.in/Knowledge-Innovation-Strategy-Parag-Kulkarni/dp/9384898031/ref=sr_1_1?ie=UTF8&qid=1428991975&sr=8-1&keywords=parag+kulkarni"><img src="{{site.baseurl}}/assets/images/email.png"></a> -->
    </div>

    <div class="sidebar-section">
        <h5><span>New Books!</span></h5>
        <a href="https://www.amazon.in/Knowledge-Innovation-Strategy-Parag-Kulkarni/dp/9384898031/ref=sr_1_1?ie=UTF8&qid=1428991975&sr=8-1&keywords=parag+kulkarni"><img src="{{site.baseurl}}/assets/images/b3.png" width="49%"></a>
        <a href="https://www.amazon.com/Choice-Computing-Economics-Intelligent-Reference/dp/9811940584"><img src="{{site.baseurl}}/assets/images/bcc.jpeg" width="49%"></a>
    </div>

<div class="sidebar-section">
        <h5><span>Fictions!</span></h5>
        <a href="https://www.amazon.in/Knowledge-Innovation-Strategy-Parag-Kulkarni/dp/9384898031/ref=sr_1_1?ie=UTF8&qid=1428991975&sr=8-1&keywords=parag+kulkarni"><img src="{{site.baseurl}}/assets/images/b.jpeg" width="48%"></a>
        <a href="https://www.amazon.com/Choice-Computing-Economics-Intelligent-Reference/dp/9811940584"><img src="{{site.baseurl}}/assets/images/dm.png" width="50%"></a>
    </div>
    
</div>